 th{
  background-color:darkgray;
}

.header{
  margin:40px 0;
}

 .table-bordered td, .table-bordered th{

  border-style: none solid;
  border-color:black;
}

.table-bordered{
  border-style:solid;
  border-color: black;
}

@media (min-width:800px) {.avg{
  position:relative;

}
}

@media (min-width:800px) {.avg h2{
  position:absolute;
  right:0;
  bottom:0;
}
}

.fa-pencil-alt{
  color:cornflowerblue;
}
td > i{
  margin: 0 5px;
}
.fa-trash-alt{
  color:crimson;
}
.input-group-prepend{
  width:13%;
}
.input-group-text{
  width:100%;
}

.form-group input{
margin-bottom:35px;
}

#form-title{
  margin-bottom:20px ;
}

.row{
  flex-wrap: wrap;
}
.form-row{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin:auto;
}
.button-row{
  display:flex;
  justify-content: right;
  align-items: end;
}
#add-edit{
  margin-left:auto;
  margin-right:3%;
}
.p-center{
  text-align: center;
}
